</div>
<footer class="bg-light fixed-bottom py-2">
  <div class="container d-flex justify-content-center gap-3">
    <button class="btn btn-sm btn-outline-secondary" data-lang='pt'>
      <img src="https://flagcdn.com/w40/br.png" alt="Brasil" width="24" height="16">
    </button>
    <button class="btn btn-sm btn-outline-secondary" data-lang='el'>
      <img src="https://flagcdn.com/w40/gr.png" alt="Grécia" width="24" height="16">
    </button>
    <button class="btn btn-sm btn-outline-secondary" data-lang='en'>
      <img src="https://flagcdn.com/w40/us.png" alt="Estados Unidos" width="24" height="16">
    </button>
    <button class="btn btn-sm btn-outline-secondary" data-lang='de'>
      <img src="https://flagcdn.com/w40/de.png" alt="Alemanha" width="24" height="16">
    </button>
  </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script>
document.querySelectorAll('button[data-lang]').forEach(button => {
    button.addEventListener('click', async (event) => {
        const lang = event.target.closest('button').getAttribute('data-lang');
        try {
            const response = await fetch(`/lang/${lang}`);
            if (response.ok) {
              console.log('Idioma alterado com sucesso! Recarregando a página...')
              window.location.reload();
            }
        } catch (err) {
            console.error('Erro ao mudar o idioma:', err);
        }
    });
  });
  </script>
</body>
</html>