</div>
<footer class="bg-light fixed-bottom py-2">
    <div class="container d-flex justify-content-center gap-3">
      <button class="btn btn-sm btn-outline-secondary">
        <img src="https://flagcdn.com/w40/br.png" alt="Brasil" width="24" height="16">
      </button>
      <button class="btn btn-sm btn-outline-secondary">
        <img src="https://flagcdn.com/w40/us.png" alt="Estados Unidos" width="24" height="16">
      </button>
      <button class="btn btn-sm btn-outline-secondary">
        <img src="https://flagcdn.com/w40/de.png" alt="Alemanha" width="24" height="16">
      </button>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>