<%- include('partials/header') %>
<div class="container d-flex flex-column align-items-center text-center mt-5 mb-5">
    <div class="mb-4">
      <img src="img/theqsthecat.png" alt="Perfil Gatinho Pixel Art" class="rounded-circle" width="150">
    </div>
    <h1 class="fw-bold mb-1">Matheqs</h1>
    <p class="text-muted mb-3">Desenvolvedor Fullstack em desenvolvimento &#128522;<br> Também desenvolvo jogos</p>
    <p class="text-secondary mb-4"><small>Brasil</small></p>
    <div class="d-flex gap-3 justify-content-center">
      <a href="https://www.linkedin.com/in/matheus-barbosa-b304602ba" target="_blank" class="btn btn-outline-primary btn-sm">
        <i class="bi bi-linkedin"></i> LinkedIn
      </a>
      <a href="https://github.com/TheTheqs" target="_blank" class="btn btn-outline-dark btn-sm">
        <i class="bi bi-github"></i> GitHub
      </a>
    </div>
</div>
<%- include('partials/footer') %>