<%- include('partials/header') %>
<div class="container pb-0 mb-0">
    <h1>Book Title</h1>
    <h4><em><span style="color: rgb(173, 180, 187);">Autor</span></em></h4>
    <h4><em><span style="color: rgb(173, 180, 187);">Genre</span></em></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet risus vel libero malesuada sollicitudin. Quisque vehicula justo nec massa dapibus interdum. Aliquam eget eros eros. Proin id mi vel ex cursus fermentum nec eget ligula. Fusce id purus vehicula, fermentum odio ac, fringilla turpis. Donec congue libero ut dui pharetra, ut blandit nisi eleifend. Nunc fringilla, nibh sed tristique commodo, turpis magna ultricies leo, sed bibendum justo magna at ex. Curabitur suscipit nisi nec felis fringilla tincidunt. Phasellus dictum, sem a congue pellentesque, odio eros facilisis augue, in eleifend justo sapien sed urna.</p>
    <h2>5/5</h2>
    <p><em><span style="color: rgb(173, 180, 187);">november/2024</span></em></p>
    <div class="d-flex justify-content-start gap-2 mt-5 mb-5">
        <a href="#" class="btn btn-sm btn-outline-primary me-4"><%=translator.Edit%></a>
        <a href="#" class="btn btn-sm btn-outline-danger"><%=translator.Delete%></a>
    </div>
</div>
<%- include('partials/footer') %>